html {
  height: 100%;
}

body {
  height: inherit;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: inherit;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

h1 {
  font-size: 70px;
}

.slider-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
}

.slider-box {
  display: flex;
  align-items: center;
}

.slider-wrap {
  width: 50vw;
  height: auto;
  overflow: hidden;
  margin-left: 5vw;
  margin-right: 5vw;
  border-radius: 5px;
}

.circle-box {
  display: flex;
  align-items: center;
  margin: 1vh;
}

.circle {
  margin: 1vh;
  font-size: 50px;
    &:hover {
      cursor: pointer;
    }
}

.circle-nhl {
  color: rgb(196,196,196);
}

.circle-hl {
  color: rgb(57,57,57);
}