.modal {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.4);
  z-index: 1;
}

.modal-img {
  border-radius: 5px;
}