.slider-dir-right {
  position: relative;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-name: shiftright;
}

.slider-dir-left {
  position: relative;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-name: shiftleft;
}

.modal-img {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-name: expand-img;
}

@keyframes shiftright {
  from {
    left: 0vw;
  }

  to {
    left: -50vw;
  }
}

@keyframes shiftleft {
  from {
    left: -50vw;
  }

  to {
    left: 0vw;
  }
}

@keyframes expand-img {
  from {
    width: 1vw;
  }

  to {
    width: 70vw;
  }
}