//animation for sliding images to the right
.slider-dir-right {
  position: relative;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-name: shiftright;
}

@keyframes shiftright {
  from {
    left: 0vw;
  }

  to {
    left: -50vw;
  }
}

//animation for sliding images to the left
.slider-dir-left {
  position: relative;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-name: shiftleft;
}

@keyframes shiftleft {
  from {
    left: -50vw;
  }
  
  to {
    left: 0vw;
  }
}

//animation for expanding image when modal opens
.modal-img {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-name: expand-img;
}

@keyframes expand-img {
  from {
    width: 1vw;
  }

  to {
    width: 70vw;
  }
}